<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
  </head>
  <body>
    
    <div id="app">
      <component
        v-bind:is="currentView"
        v-on:go="goToView"
        v-on:showlist="showList"
        v-bind:patches="patches"
        v-bind:downloading="downloading"
        v-bind:current-list-id="currentListId"
      ></component>
    </div>
    
    <script type="x-template" id="browser">
      <div className="browser">
        <div class="header">
          <h1>op1.fun</h1>
          <div class="icon config-icon" v-on:click="$emit('go', 'login')">
            <img src="images/gear.svg" alt="gear">
          </div>
          <transition name="fade">
            <div v-if="downloading" class="icon spinner">
              <span>{{ downloading }}</span>
              <img src="images/spinner.svg" alt="spinner">
            </div>
          </transition>
          <div class="clear"></div>
        </div>
        <div class="patch-browser">
          <side-nav
            :patches="patches"
            :currentListId="currentListId"
            @showlist="$emit('showlist', $event)"
          ></side-nav>
          <content-area
            :currentListId="currentListId"
            :patches="filteredPatches"
            :id="currentListId"
          ></content-area>
        </div>
      </div>
    </script>
    
    <script type="x-template" id="login">
      <div class="login">
        <form action="">
          <label for="email">Email</label>
          <input v-model="email" type="text">
          <br>
          <label for="token">API Token</label>
          <input v-model="token" type="text">
          <br>
          <button v-on:click.prevent="submit">Sign In</button>
        </form>
      </div>
    </script>
    
    <script type="x-template" id="patch-list">
      <div v-bind:id="id">
        <transition-group name="flip-list" tag="ul">
          <template v-for="(packPatches, packName) in packs">
            <li v-bind:key="packName">
              <a v-on:click.prevent="showInFinder" v-bind:href="packPatches[0].packDir" class="pack">
                {{ packName }}
              </a>
            </li>
            <li v-for="patch in packPatches" v-bind:key="patch.relPath">
              <a v-on:click.prevent="showInFinder" v-bind:href="patch.relPath" class="patch">
                {{ patch.name }}
              </a>
            </li>
          </template>
        </transition-group>
      </div>
    </script>
    
    <script type="x-template" id="backups">
      <div>
        Hi this is backups
      </div>
    </script>
    
    <script type="x-template" id="side-nav">
      <ul class="side-nav">
        <li v-for="item in navItems">
          <a v-on:click.prevent="$emit('showlist', item.id)" v-bind:href="item.title.toLowerCase()">
            <h3 v-bind:class="item.id">{{ item.title }}</h3>
            <span>{{ item.subtitle }}</span>
          </a>
        </li>
      </ul>
    </script>
    
    <script src="front-end.js"></script>
  </body>
</html>
