:root {
  --blu: #698EFF;
  --grn: #04cb81;
  --wht: #FFFFFF;
  --red: #FF3A5D;
  --dark-gray: #25252c;
  --lt-gray: #caced6;
  --blk: #393a45;
}

@font-face {
  font-family: 'Heebo';
  src: url('fonts/Heebo-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Heebo';
  src: url('fonts/Heebo-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Heebo';
  src: url('fonts/Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Heebo';
  src: url('fonts/Heebo-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Heebo';
  src: url('fonts/Heebo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Heebo';
  src: url('fonts/Heebo-Black.ttf') format('truetype');
  font-weight: 900;
}

* {
  box-sizing: border-box;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.flop-enter-active, .flop-leave-active {
  transition: all 1s ease;
}
.flop-enter, .flop-leave-to {
  /*transform: rotate3d(0,1,0,90deg);*/
  opacity: 0;
  transform: translateX(50px);
}


body {
  background: var(--dark-gray);
  color: var(--lt-gray);
  width: 100%;
  font-family: Heebo;
  font-weight: 300;
  font-size: 13px;
  overflow-x: hidden;
  /*padding: 10px 0;*/
  padding: 0;
  margin: 0;
  line-height: 18px;
}

a {
  color: var(--lt-gray);
  text-decoration: none;
}

h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
}

h1 {
  font-size: 14px;
}

.field {
  padding-bottom: 20px;
}
label {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}
input[type="text"],
input[type="password"] {
  background: #484853;
  color: var(--lt-gray);
  font-size: 14px;
  padding: 5px 9px;
  width: 100%;
  display: block;
  border: 0;
  border-radius: 4px;
  margin: 2px 0;
}

.error {
  padding-bottom: 10px;
  color: var(--red);
  font-weight: 700;
}

button {
  background: none;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--grn);
  padding: 10px 30px;
  border: 3px solid var(--grn);
  font-family: Heebo;
  font-weight: 300;
  transition: all 0.3s ease;
}
button:hover {
  background: var(--grn);
  color: var(--blk);
}

/*
// Login
*/
.login {
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
}
.back {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 30px;
  font-weight: 100;
  text-transform: uppercase;
}
.back span {
  margin-top: -2px;
}
.login h1 {
  font-size: 23px;
  margin: 10px 0;
  padding: 0;
}
.login h5 {
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.login .intro {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.login .intro img {
  width: 108px;
}
.login form {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
}

/*
// Browser
*/

.header {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 39px;
}
.header h1 {
  float: left;
  margin: 0;
  padding: 0;
}
.header .icon {
  float: right;
}
.header .icon img {
  width: 18px;
  height: 18px;
}

.header .icon.spinner span {
  margin-right: 5px;
}
.header .icon.spinner svg {
  margin-right: 5px;
}

h4,
.usage {
  padding: 0 8px;
}

.over-limit {
  color: var(--red);
  font-weight: bold;
}

.browser {
  position: absolute;
  top: 39px;
  left: 0;
  bottom: 0;
  right: 0;
}
.browser ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.browser-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.disconnected {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.disconnected img {
  margin-top: 50px;
  width: 240px;
}
.disconnected h2 {
  font-size: 16px;
  font-weight: 100;
}

.side-nav {
  position: absolute;
  left: 0;
  width: 200px;
  bottom: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid rgba(255,255,255,0.2);
}
.side-nav li {
  padding: 0;
  margin: 0;
}
.side-nav svg {
  height: 14px;
}
.side-nav a {
  display: block;
  padding: 15px 20px;
  transition: background 0.2s;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.side-nav h3 {
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
}
.side-nav .active,
.side-nav .active h3 {
  color: var(--wht);
}
.side-nav .active svg {
  fill: var(--wht);
}

.synth { color: var(--blu); }
.active.synth { background: var(--blu); }
.drum { color: var(--grn); }
.active.drum { background: var(--grn); }
.sampler { color: var(--wht); }

.active.sampler {
  color: var(--blk);
  background: var(--wht);
}
.active.sampler h3 {
  color: var(--blk);
}

.backups { color: var(--red); }
.active.backups { background: var(--red); }

#synth .pack, #synth img { color: var(--blu); }
#drum .pack, #drum img { color: var(--grn); }
#sampler .pack, #sampler img { color: var(--wht); }

.patch-list li svg {
  width: 15px;
  height: 15px;
  margin: 0 6px 0 0;
  position: relative;
  top: 2px;
}

.patch-list a:hover,
.patch-list a:hover .pack {
  background: var(--lt-gray);
  color: var(--blk) !important;
}

.patch-list a {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 4px 6px 4px 35px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.patch-list a.pack {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 6px 9px;
}
.patch-list .root a {
  padding-left: 9px;
}

.clear {
  clear: both;
}
